* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }



  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
    position: relative;
    z-index: 999; /*sobrepõe o menu */
    
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
    
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
      
      
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 5vh;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
  }



  .content{
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.navegacao{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    
}
.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #0e0d0d;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background-color: #fff;
}


input[type="radio"]{
    display: none;
}

.slides{
    display: flex;
    min-width: 450%;
    max-width: 90%;
    flex-wrap: wrap;
}
.slide{
    width: 20%;
    transition: .6s;
}
.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~.s1{
    margin-left: 0;
}
#slide2:checked ~.s1{
    margin-left: -20%;
}
#slide3:checked ~.s1{
    margin-left: -40%;
}
#slide4:checked ~.s1{
    margin-left: -60%;
}
#slide5:checked ~.s1{
    margin-left: -80%;
}

/*------------------------------------*/



.form-contato {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  text-align: center;
  flex-direction: column;
  
}


form {
    margin: auto;
    margin-top: 80px;
    width: 50%;
    border: 2px solid #f8f6f8;
    padding: 30px;
    border-radius: 10px;
    text-align: left; 
    background-color: #ffffff; 
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    z-index: 1; /* Define a ordem de empilhamento para o formulário */
    font-size: 16px;
    letter-spacing: 3px;
}

label {
    display: block;
    margin-top: 10px;
    /* border: #0e0d0d 2px solid; */
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    /* border: 1px solid red; */
}

input[type="submit"] {
    background-color: #23232e;
    color: #fdfbfb;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
input[type="reset"] {
    background-color: white;
    color: #black;
    border: solid 1px black;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;

}

input[type="submit"]:hover {
    background-color: #373738;
}

input[type="reset"]:hover {
    background-color: #23232e;
    color: white;
}

main{
  flex-wrap: wrap;
  display: flex;
  float: left;
  text-align: center;
  justify-content: center;
  margin: auto;

}

.container {
  display: inline-block;
  width: 350px;
  height: 250px;
  margin: 40px 0;
  perspective: 600px;
  position:relative;
  
}

.card {
  position: relative;
  width: 95%;
  height: 95%;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;

}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
  
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 18px; 
  backface-visibility: hidden;
  border: 1px solid black;
  border-radius: 10px;
  
}

img{
  height: 100%;
  width: 100%;
 
}
.card-face-front {
  
}

.card-face-back {
  
  transform: rotateY(180deg);
  
}


.conteudo-veiculo{
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;
  padding-left: 50px;
  padding-top: 20px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;

}

.container img{
  height: 200px;
  margin-top: 20px;
}

.marcas{
  width: 100%;
  height: auto;
}

.marcas{
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  
}

.marcas img{
  
  height: 200px;
  width: 200px;
  border: #0f020377 solid 2px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px #373738;
  

}
